# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos del entorno de ejecución
*.log
*.tmp
*.bak

# Archivo de base de datos (datos del usuario)
data.json

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno virtual (si lo usaras en el futuro)
env/
venv/
ENV/
.venv/

# Archivos de configuración de IDEs (VSCode, PyCharm, etc.)
.vscode/
.idea/